{% extends "base.html" %}

{% block titulo %}
<title> Futbol Mundial - Inicio</title>
{% endblock titulo %}

{% block contenido %}

<h1 style="color: rgb(6, 2, 82);">

<div style="text-align: center;">
    Últimas Noticias:

</div>
</h1>

<br>
    <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                
                <h4>
                    Bienvenido/a {{ user.first_name }}
                </h4>
                
                
                <ul>
                    {% for noticias in object_list %}
               
                    <div class="post-preview">
                        
                            <h2 class="post-title">{{noticias.titulo}}</h2>
                            <h3 class="post-subtitle">{{noticias.subtitulo|truncatewords:10}}</h3>
                            <a href="{% url 'noticias' noticias.id}">leer mas</a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!"> {{noticias.autor}} </a>
                            on {{noticias.fecha}}
                        </p>
                    </div>
                    
                    <br>
                <div class="container">
                    <h4>        
                      <p style="color: rgb(53, 48, 48);">
                        
                    </p>
                    </h4>
                </div>   
                    
                    </li>
                    {% endfor %}
                </ul>
                <hr class="my-4">
                </div>
            </div> 
        </div>

{% endblock contenido %}