{% extends "base.html" %}
{% block titulo %}

<title>
    Copa Libertadores
</title> 
{% endblock titulo %}

{% block contenido %}
<h1 style="color: rgb(15, 12, 77);">
    <div style="text-align: center;">
        Copa Libertadores:
    </div>
</h1>
<a href="{% url 'copa' %}">Ver Todos</a>
<a href="{% url 'crear_equipo'}">Guardar</a>
<br><br>
<form action="{% url buscar_equipo %}" method="post">
    {% csrf_token %}
    <input type="text" name="busqueda">
    <input type="submit" value="Buscar">
</form>
<br>
<ul>
    {% for cupo in cupos %}
    <li>
        {{ cupo.campeon }}, {{ cupo.año }}
    </li>
    {% endfor %}
</ul>
{% endblock contenido %}
